*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.animSpace {
  background-color: #5e2037;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  text-align: stretch;
  justify-content: center;
  align-content: stretch;
  overflow: hidden; }
  .animSpace #left {
    display: flex;
    align-items: stretch; }
    @media only screen and (max-width: 500px) {
      .animSpace #left {
        display: none; } }
    .animSpace #left .rol1 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown1;
      animation-iteration-count: 10s;
      transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
      animation-duration: 10s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown1 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 40px; } }
    .animSpace #left .rol2 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown2;
      animation-iteration-count: 12s;
      transition-timing-function: linear;
      animation-duration: 12s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown2 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 300px; } }
    .animSpace #left .rol3 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown3;
      animation-iteration-count: 13s;
      transition-timing-function: linear;
      animation-duration: 13s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown3 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 300px; } }
    .animSpace #left .rol4 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown4;
      animation-iteration-count: 14s;
      transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
      animation-duration: 14s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown4 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 300px; } }
  .animSpace #mainAnim {
    display: flex;
    align-items: stretch; }
  .animSpace .final {
    color: white;
    visibility: visible;
    font-size: 100px;
    animation-name: final;
    animation-delay: 20s; }

@keyframes final {
  from {
    color: grey; }
  to {
    color: white; } }
  .animSpace .yellow {
    color: yellow; }
  .animSpace .green {
    color: green; }
  .animSpace .blue {
    color: blue; }
  .animSpace .red {
    color: red; }
  .animSpace .rol5 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown5;
    animation-iteration-count: 10s;
    transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
    animation-duration: 10s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown5 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol6 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown6;
    animation-iteration-count: 12s;
    transition-timing-function: linear;
    animation-duration: 12s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown6 {
  from {
    top: -4000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol7 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown7;
    animation-iteration-count: 15s;
    transition-timing-function: linear;
    animation-duration: 15s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown7 {
  from {
    top: -7000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol8 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown8;
    animation-iteration-count: 10s;
    transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
    animation-duration: 10s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown8 {
  from {
    top: -8000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol9 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown2;
    animation-iteration-count: 12s;
    transition-timing-function: linear;
    animation-duration: 12s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown2 {
  from {
    top: -7000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol10 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown10;
    animation-iteration-count: 15s;
    transition-timing-function: linear;
    animation-duration: 15s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown10 {
  from {
    top: -9000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol11 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown11;
    animation-iteration-count: 10s;
    transition-timing-function: linear;
    animation-duration: 10s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown11 {
  from {
    top: -8000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol12 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown12;
    animation-iteration-count: 12s;
    transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
    animation-duration: 12s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown12 {
  from {
    top: -9000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol13 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown13;
    animation-iteration-count: 15s;
    transition-timing-function: linear;
    animation-duration: 15s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown13 {
  from {
    top: -10000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol14 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown14;
    animation-iteration-count: 12s;
    transition-timing-function: linear;
    animation-duration: 12s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown14 {
  from {
    top: -7000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol15 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown15;
    animation-iteration-count: 17s;
    transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
    animation-duration: 17s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown15 {
  from {
    top: -10000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol16 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown16;
    animation-iteration-count: 12s;
    transition-timing-function: ease-in;
    animation-duration: 12s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown16 {
  from {
    top: -4000px;
    visibility: visible; }
  to {
    top: 0px; } }
  .animSpace .rol17 {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    animation-name: dropDown17;
    animation-iteration-count: 12s;
    transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
    animation-duration: 12s;
    position: relative;
    animation-fill-mode: backwards; }

@keyframes dropDown17 {
  from {
    top: -4000px;
    visibility: visible; }
  to {
    top: 30px; } }
  .animSpace #right {
    display: flex;
    align-items: flex-start; }
    @media only screen and (max-width: 500px) {
      .animSpace #right {
        display: none; } }
    .animSpace #right .rol18 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown18;
      animation-iteration-count: 15s;
      transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
      animation-duration: 15s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown18 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 300px; } }
    .animSpace #right .rol19 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown19;
      animation-iteration-count: 15s;
      transition-timing-function: ease;
      animation-duration: 15s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown19 {
  from {
    top: -5000px;
    visibility: visible; }
  to {
    top: 300px; } }
    .animSpace #right .rol20 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown20;
      animation-iteration-count: 13s;
      transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
      animation-duration: 13s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown20 {
  from {
    top: -4000px;
    visibility: visible; }
  to {
    top: 300px; } }
    .animSpace #right .rol21 {
      font-family: 'Amatic SC', cursive, bold;
      text-align: center;
      letter-spacing: 10px;
      font-size: 80px;
      width: 50px;
      color: white;
      visibility: hidden;
      margin-top: 40px;
      animation-name: dropDown21;
      animation-iteration-count: 10s;
      transition-timing-function: cubic-bezier(0.23, 1.2, 0.97, -0.15);
      animation-duration: 10s;
      position: relative;
      animation-fill-mode: backwards; }

@keyframes dropDown21 {
  from {
    top: -3000px;
    visibility: visible; }
  to {
    top: 300px; } }

#menu {
  background-color: #5e2037;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-wrap: nowrap; }
  #menu li {
    align-items: stretch;
    margin-left: 10px;
    margin-right: 10px;
    border-right-color: white;
    border-right-style: inherit; }
  #menu a {
    float: left;
    display: inline-block;
    background-color: #5e2037;
    text-align: center;
    padding: 10px 10px;
    font-size: 25px;
    color: white;
    margin: 0, 5px, 0, 5px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 4px;
    font-weight: bold; }
  #menu a:hover {
    background-color: #fffefc;
    color: black; }
  #menu a:active {
    background-color: #fffefc;
    color: black;
    text-decoration: underline; }

#home {
  width: 20px;
  align-items: center; }

#navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #5e2037;
  margin-top: 5px;
  height: 55px;
  align-items: center;
  justify-content: center;
  font-family: 'Amatic SC', cursive, bold;
  font-size: 25px;
  position: sticky;
  align-content: center; }
  #navbar #socialPlugins {
    width: 100px;
    height: 50px;
    align-items: center;
    margin-top: 25px; }
    #navbar #socialPlugins span {
      margin: 5px; }

main {
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px; }
  main .mainTitle {
    margin-top: 30px;
    margin-bottom: 15px; }
  main .singlePost {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #fffefc;
    width: 900px;
    margin: 10px;
    box-shadow: 3px 3px 5px #d9cdbd;
    padding: 10px, 0, 10px, 0; }
    main .singlePost .intro {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px; }
    main .singlePost img {
      height: 200px; }
    main .singlePost .topElements {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; }
    main .singlePost p {
      align-content: center;
      margin: 5px, 0, 10px, 5px; }
    main .singlePost .more {
      align-content: flex-end;
      justify-content: flex-end; }

body {
  height: 100%;
  margin-bottom: 50px; }

footer {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
  bottom: 0;
  border-top-color: #5e2037;
  border-top-style: solid;
  bottom: -100px; }
  footer .footer p {
    padding: 15px 0 0;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #5e2037;
    font-family: 'Montserrat', sans-serif; }

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-top: 20px;
  margin-bottom: 50px; }
  .aboutContainer h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .aboutContainer .date {
    justify-content: center; }
  .aboutContainer p {
    text-align: justify;
    padding: 10px 5px;
    margin: 20px 20px; }
    .aboutContainer p img {
      float: left;
      margin: 0 8px 3px 0; }
    .aboutContainer p hr {
      color: #5e2037;
      height: 3px; }

.singlePostImage {
  width: 100%;
  margin: 20px 20px;
  padding: 30px 50px;
  display: flex;
  object-position: center;
  align-self: center; }

/* cookie alert */
#cookies-message {
  color: white;
  padding: 12px 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: none; }

#accept-cookies-checkbox {
  background-color: #5e2037;
  color: white;
  border: solid 1px #00AFBF;
  transition: all 0.5s;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer; }

#accept-cookies-checkbox:hover {
  background-color: transparent;
  border-color: white; }
