*,*::after,*::before{margin:0;padding:0;box-sizing:border-box}.animSpace{background-color:yellow;width:100%;height:300px;display:flex;flex-wrap:wrap;text-align:center}.animSpace .rol{font-family:'Amatic SC', cursive, bold;text-align:center;letter-spacing:20px;font-size:70px;width:50px;animation-name:dropDown1;animation-duration:5s;animation-iteration-count:infinite;transition-timing-function:linear;position:relative}@keyframes dropDown1{from{top:-3000px}to{top:300px}}
/*# sourceMappingURL=index.css.map */
