$breakpiont-medium: 400px;
$breakpoint-large: 800px;


@mixin dropDown ($animationIterationCount, $transistionTimingFunction, $animationDuration, $position, $animationFillMode){
    animation-iteration-count: $animationDuration;
    transition-timing-function: $transistionTimingFunction;
    animation-duration: $animationDuration;
    position: $position;
    animation-fill-mode: $animationFillMode;
    
}
@mixin rolElement {
    font-family: 'Amatic SC', cursive, bold;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    width: 50px;
    color: white;
    visibility: hidden;
    margin-top: 40px;
    @ media only screen and(max-width: $breakpointSmall){
        font-size: 30px;
        width: 10px;
    }
}