
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


.animSpace {
    background-color: #5e2037;
    width: 100%;
    height: 200px; 
    display: flex;
    flex-wrap: wrap;
    text-align: stretch;
    justify-content: center;
    align-content: stretch;
    overflow: hidden;
   
    
        
    #left{
        display: flex;
        align-items: stretch;
        @media only screen and (max-width: $breakpointSmall){
        display: none;
        }
    #right{
        display: flex;
        align-items: stretch;
        @media only screen and (max-width: $breakpointSmall){
        display: none;
    }     
    
    .rol1 {
        @include rolElement;
        animation-name: dropDown1;
        @include dropDown(infinite, cubic-bezier(.23,1.2,.97,-0.15), 10s, relative, backwards);
    }

        @keyframes dropDown1 {
            from{top: -3000px; visibility: visible;}
            to{top: 40px;}
        }
    .rol2 {
        @include rolElement;
        animation-name: dropDown2;
        @include dropDown( infinite, linear, 12s, relative, backwards);
    }

        @keyframes dropDown2 {
            from{top: -3000px; visibility: visible;}
            to{top: 300px;}
        }
    .rol3 {
        @include rolElement;
        animation-name: dropDown3;
        @include dropDown( infinite, linear, 13s, relative, backwards);
    }

        @keyframes dropDown3 {
            from{top: -3000px; visibility: visible;}
            to{top: 300px;}
        }
    .rol4 {
        @include rolElement;
        animation-name: dropDown4;
        @include dropDown( infinite, cubic-bezier(.23,1.2,.97,-0.15), 14s, relative, backwards);
    }
    

        @keyframes dropDown4 {
        from{top: -3000px; visibility: visible;}
        to{top: 300px;}
        }
    }
    #mainAnim{
        display:flex;
        align-items: stretch;
        @media only screen and(max-width: $breakpointSmall){
            align-items: center;
        }
        
    }

        .final{
            color:white;
            visibility: visible;
            font-size: 100px;
            animation-name: final;
            animation-delay: 20s;
        }

        @keyframes final{
            from{ color: grey;}
            to{color:white;}
        }
        .yellow {
            color: yellow;
        }  
        .green{
            color:green;
        }  
        .blue {
            color:blue;
        }  
        .red{
            color: red;
        }  
    .rol5 {
        @include rolElement;
        animation-name: dropDown5;
        @include dropDown( infinite, cubic-bezier(.23,1.2,.97,-0.15), 10s, relative, backwards);
        }

        @keyframes dropDown5 {
            from{top: -3000px; visibility: visible;}
            to{top: 0px;}
        }
        
    
    .rol6 {
        @include rolElement;
        animation-name: dropDown6;
        @include dropDown( infinite, linear, 12s, relative, backwards);
        }

        @keyframes dropDown6 {
            from{top: -4000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol7 {
        @include rolElement;
        animation-name: dropDown7;
        @include dropDown(infinite, linear, 15s, relative, backwards);
        }

        @keyframes dropDown7 {
            from{top: -7000px; visibility: visible;}
            to{top: 0px;}
            }
            
    .rol8 {
        @include rolElement;
        animation-name: dropDown8;
        @include dropDown(infinite, cubic-bezier(.23,1.2,.97,-0.15), 10s, relative, backwards);
        }

        @keyframes dropDown8 {
            from{top: -8000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol9 {
        @include rolElement;

        animation-name: dropDown2;
        @include dropDown(infinite, linear, 12s, relative, backwards);
        }

        @keyframes dropDown2 {
            from{top: -7000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol10 {
        @include rolElement;
        animation-name: dropDown10;
        @include dropDown(infinite, linear, 15s, relative, backwards);
        }

        @keyframes dropDown10 {
            from{top: -9000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol11 {
        @include rolElement;
        animation-name: dropDown11;
        @include dropDown(infinite, linear, 10s, relative, backwards);
        }

        @keyframes dropDown11 {
            from{top: -8000px; visibility: visible;}
            to{top: 0px;}
        }
   
    .rol12 {
        @include rolElement;
        animation-name: dropDown12;
        @include dropDown(infinite, cubic-bezier(.23,1.2,.97,-0.15), 12s, relative, backwards);
        }

        @keyframes dropDown12 {
            from{top: -9000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol13 {
        @include rolElement;
        animation-name: dropDown13;
        @include dropDown(infinite, linear, 15s, relative, backwards);
        }

        @keyframes dropDown13 {
            from{top: -10000px; visibility: visible;}
            to{top: 0px;}
        }
    .rol14 {
        @include rolElement;
        animation-name: dropDown14;
        @include dropDown(infinite, linear, 12s, relative, backwards);
        }

        @keyframes dropDown14 {
            from{top: -7000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol15 {
        @include rolElement;
        animation-name: dropDown15;
        @include dropDown (infinite, cubic-bezier(.23,1.2,.97,-0.15), 17s, relative, backwards);
        }

        @keyframes dropDown15 {
            from{top: -10000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol16 {
        @include rolElement;
        animation-name: dropDown16;
        @include dropDown (infinite, ease-in, 12s, relative, backwards);
        }

        @keyframes dropDown16 {
            from{top: -4000px; visibility: visible;}
            to{top: 0px;}
        }

    .rol17 {
        @include rolElement;
        animation-name: dropDown17;
        @include dropDown (infinite, cubic-bezier(.23,1.2,.97,-0.15), 12s, relative, backwards);
        }

        @keyframes dropDown17 {
            from{top: -4000px; visibility: visible;}
            to{top: 30px;}
        }



    #right{
        display:flex;
        align-items: flex-start;
        @media only screen and (max-width: 500px){
            display: none;
        }

    .rol18 {
        @include rolElement;
        animation-name: dropDown18;
        @include dropDown (infinite, cubic-bezier(.23,1.2,.97,-0.15), 15s, relative, backwards);
        }

        @keyframes dropDown18 {
            from{top: -3000px; visibility: visible;}
            to{top: 300px;}
        }

.rol19 {
    @include rolElement;
    animation-name: dropDown19;
    @include dropDown (infinite, ease, 15s, relative, backwards);
    }

    @keyframes dropDown19 {
        from{top: -5000px; visibility: visible;}
        to{top: 300px;}
    }

.rol20 {
    @include rolElement;
    animation-name: dropDown20;
    @include dropDown (infinite, cubic-bezier(.23,1.2,.97,-0.15), 13s, relative, backwards);
    }

    @keyframes dropDown20 {
        from{top: -4000px; visibility: visible;}
        to{top: 300px;}
    }

.rol21 {
    @include rolElement;
    animation-name: dropDown21;
    @include dropDown (infinite, cubic-bezier(.23,1.2,.97,-0.15), 10s, relative, backwards);
    }

    @keyframes dropDown21 {
        from{top: -3000px; visibility: visible;}
        to{top: 300px;}
    }
}
}


#menu {
    background-color:#5e2037;
    overflow: hidden;
    list-style: none;
    display:flex;
    flex-wrap:nowrap;

    li{
        align-items: stretch;
        margin-left: 10px;
        margin-right: 10px;
        border-right-color: white;
        border-right-style:inherit;

        
        
    }
        a {
            float: left;
            display: inline-block;
            background-color: #5e2037;
            text-align:center;
            padding: 10px 10px;
            font-size: 25px;
            color: white;
            margin: 0, 5px, 0, 5px;
            text-decoration: none;
            text-transform: lowercase;
            letter-spacing: 4px;
            font-weight:bold;
        }


 a:hover {
    background-color: #fffefc ;
    color: black;
}


    a:active {
    background-color:#fffefc;
    color: black;
    text-decoration: underline;
    }
  
}
#home{
    width: 20px;
    align-items: center;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #5e2037;
    margin-top: 5px;
    height: 55px;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive, bold;
    font-size: 25px;
    position: sticky;
    align-content: center;
    
   
    #socialPlugins{ 
        width: 100px;
        height: 50px;
        align-items: center;
        margin-top: 25px;
        span{
            margin: 5px;
          
        }
    }
}
main{
    display:flex;
    align-items: center;
    flex-flow:column;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    
    .mainTitle{
        margin-top: 30px;
        margin-bottom: 15px;
        
    }

    .singlePost {
        display:flex;
        flex-wrap:nowrap;
        justify-content:flex-start;
        align-items: center;
        background-color:#fffefc;
        width: 900px;
        margin: 10px;
        box-shadow: 3px 3px 5px #d9cdbd; 
        padding: 10px, 0, 10px, 0;
       
        
        .intro{
            display:flex;
            flex-direction: column;
            flex-wrap:wrap;
            justify-content: center;
            padding: 10px;

        }
        img{
        height:200px;
           
        }

            .topElements{
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: nowrap;
        }
        p{
            align-content: center;
            margin: 5px, 0, 10px, 5px;
        }
        .more{
            align-content: flex-end;
            justify-content: flex-end;
        }
    }
}
body{
    height: 100%;
    margin-bottom: 50px;
    
}
footer{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    bottom: 0;
    border-top-color: $mainColor;
    border-top-style: solid;
    bottom: -100px;
    
    .footer{
          
        p { 
            padding:15px 0 0;
            text-align: center;
            align-items: center;
            font-size: 20px;
            color:#5e2037;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.aboutContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 50px;
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
  
    }
    .date{
        justify-content: center;
    }
    p{
    
    text-align: justify;
    padding: 10px 5px;
    margin: 20px 20px;
        img{
          float: left;
         margin: 0 8px 3px 0;
        }   
    hr{
        color: $mainColor;
        height:3px;
        }
    }
}

.singlePostImage{
    width: 100%;
    margin: 20px 20px;
    padding: 30px 50px;
    display:flex;
    object-position: center;
    
    align-self: center;
}

/* cookie alert */
#cookies-message{ 
    color: white; 
    padding: 12px 10px; 
    text-align: center; 
    position: fixed; 
    bottom:0px; 
    left:0; right:0; 
    background-color: rgba(114, 96, 116, 0.6);
    z-index: 100000; 
    box-shadow: 0 0 5px rgba(66, 57, 70, 0.4); 
    display: none;
}
#accept-cookies-checkbox{ 
    background-color: $mainColor; 
    color: white;!
    border: solid 1px $mainColor; 
    transition: all 0.5s; 
    padding: 2px 6px; 
    border-radius: 4px; 
    display: inline-block; 
    margin-left: 10px; 
    text-decoration: none; 
    cursor: pointer
}
#accept-cookies-checkbox:hover{ 
  background-color: transparent;
    border-color: white;
}